<%- model_class = Scheme -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:ministry_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schemes.each do |scheme| %>
      <tr>
        <td><%= link_to scheme.title, scheme %></td>
        <td>
          <% unless scheme.description.blank? %>
            <div class = 'short-desc'><%= raw scheme.description %></div>
          <% end %>
        </td>
        <td><%= link_to scheme.ministry.name, scheme.ministry %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_scheme_path(scheme), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_scheme_path,
            :class => 'btn btn-primary' %>
