<%- model_class = Ministry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:schemes) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ministries.each do |ministry| %>
      <tr>
        <td><%= link_to ministry.name, ministry_path(ministry) %></td>
        <td><% ministry.schemes.each do |scheme| %>
              <%= link_to scheme.title, scheme_path(scheme) %>,
            <% end %>
        </td>
        <td>
          <%= link_to 'Add Scheme',
                      new_scheme_path(:ministry_id => ministry.id), :class => 'btn btn-mini' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ministry_path,
            :class => 'btn btn-primary' %>
